/* Estilos para el HeroSection */
.hero {
  background: url('/public/images/cordoba.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


.container {
  text-align: center;
}

/* Estilos para el contenedor de contenido del héroe */
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el texto del héroe */
.hero-text {
  flex: 1;
  padding: 20px;
  text-align: left; 
}

/* Estilos para la imagen de fondo del héroe */
.hero-image {
  flex: 1;
  height: 100%;
}

/* Estilos para el nombre subtitulo en la sección Hero */
.app-name {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos para el slogan en la sección Hero */
.slogan {
  font-size: 24px;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
