.signup-container {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/images/cordoba.jpg'); 
    background-size: cover; 
    opacity: 0.5; 
    z-index: -1; 
  }
  
  .signup-form { 
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;
  }
  
  
  /* Estilo para la imagen seleccionada */
  .selected-image {
    max-width: 100%;
    height: 100%;
  }
  
  