.layout-container {
  display: flex;
  flex-direction: column;
}
/* Estilos para el Navbar transparente */
.navbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2; /* Asegúrate de que el Navbar esté por encima del contenido del header */
  transition: background-color 0.3s;
}

/* Estilos para el Navbar con color de fondo al hacer scroll */
.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.7); 
}

/* Estilos para el navbar-brand */
.navbar-brand {
  font-size: 24px; 
  color: white; 
  margin-right: 30px;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Estilos para los enlaces en color blanco */
.nav-link {
  color: white !important; 
  font-weight: bold;
  text-decoration: none; 
  margin-right: 20px; 
  transition: color 0.3s; 
}

/* Estilo para los enlaces activos (cuando la página está en esa sección) */
.nav-link.active {
  color: #f7740f !important; 
}

/* Estilos para los elementos del Navbar */
.nav-item {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-item.active {
  background-color: #007bff;
  border: 2px solid #0056b3;
  color: #fff;
  font-weight: bold;
}

/* Efecto hover para los elementos del Navbar */
.nav-item:hover {
  background-color: #007bff;
  border: 2px solid #0056b3;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s; 
}

/* Efecto hover para el navbar-brand */
.navbar-brand:hover {
  color: #f0f0f0; 
  transition: color 0.2s ease-in-out;
}

/* Estilo para el botón de login en el Layout */
.btn-login {
  background-color: #feac04; 
  color: #fff; 
  font-weight: bold;
  border: none; 
  margin-right: 20px; 
  padding: 12px 30px; 
  border-radius: 5px; 
  text-decoration: none; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.btn-login:hover {
  background-color: #f7740f; 
  color: #fff;
}

.container__footer {
  flex-direction: column; 
  align-items: left;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0; 
  z-index: 1;
}



