.btn {
    background-color: #F7740F;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #feac04;
  }