.btn-login {
    background-color: #007bff; /* Color predeterminado */
    color: white;
  }
  
.btn-logout {
    background-color: green; /* Cambia el color de fondo a verde */
    color: white; /* Cambia el color del texto a blanco */
    /* Agrega cualquier otro estilo que desees */
  }