.polaroid-image {
  position: relative;
  display: block;
  max-width: 100%;
  border: 15px solid #fff; /* Borde blanco grueso */
  padding: 15px;
  margin: 20px auto;
  background-color: #f9f9f9; /* Fondo suave para simular la foto */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra para dar un efecto elevado */
  border-radius: 15px;
  transform: rotate(2deg); /* Un leve ángulo para hacerlo más interesante */
}

.polaroid-image::after {
  content: " "; /* Espacio vacío en la parte inferior para texto */
  display: block;
  height: 80px;
  background-color: #f2f2f2;
  margin-top: 10px;
}

.polaroid-image:hover {
  transform: scale(1.05) rotate(4deg); /* Le damos un pequeño zoom y giro al pasar el ratón */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}
