.footer-content{
  padding: 25px 0; 
}
/* Estilos para la sección de redes sociales */
.footer-social {
  display: flex;
  gap: 10px;
  align-items: center; 
  padding-left: 25px;
}

/* Estilos para los iconos de las redes sociales */
.social-icon {
  font-size: 30px;
  color: #007bff; 
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #feac04; 
}


/* Estilos para el fotterNavbar */
/* Estilo para los enlaces en negrita y efecto hover */
.nav-itemFooter {
  font-weight: bold;
  color: #333; 
  text-decoration: none; 
  margin-right: 20px; 
  transition: color 0.3s; 
}

.nav-itemFooter:last-child {
  margin-right: 20px; 
}

.nav-itemFooter:hover {
  color: #007bff; 
}


/* Estilos para el autor */
.footer-author {
  margin-top: 10px; /* Añade un espacio superior para separar del contenido superior */
  font-size: 14px; /* Tamaño de fuente del autor */
  color: #333; /* Color de texto del autor */
  text-align: center; /* Centra horizontalmente el autor */
}

.footer-navbar {
  display: flex;
  flex-direction: row-reverse;
  align-items:end; /* Opcional: centrar horizontalmente */
  margin-top: auto; /* Empujar hacia la parte inferior */
}