/* Estilos para el Footer */
footer {
    background-color: #feac04; 
    color: #fff; 
    padding: 30px 0; 
    text-align: center; 
  }
  
  /* Estilos para los enlaces de navegación en el Footer */
  footer a {
    color: #fff; 
    text-decoration: none; 
    margin: 0 10px; 
    font-size: 18px; 
  }
  
  footer a:hover {
    text-decoration: underline; 
  }
  
  /* Estilos para los íconos de redes sociales en el Footer */
  .social-icon {
    font-size: 24px; 
    color: #fff; 
    margin: 0 10px; 
  }
  
  /* Estilos para el texto del Footer */
  footer p {
    margin-top: 10px; 
    font-size: 16px; 
  }
  
  /* Estilos para el nombre y cohort del Footer */
  footer p:last-child {
    font-weight: bold; 
    margin-top: 10px; 
  }
  